# Upstream TOFLUX is checked out here by scripts/setup_toflux.py.
# It ships without a LICENSE file, so it is deliberately not vendored.
external/

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.egg-info/
.variants/

results/
